.main
  .body
    .body_top
      アンケート
      aaaaaaaaa
      
    .body_top1
      本日はお越しくださいましてありがとうございました
      %by
      皆様からの意見を取り入れて、今後の活動の参考にさせていただきます。
    .body_q1
      今日のライブをどのようにお知りになりましたか？
    .body_q2
      あなたにとって一番印象に残った曲とその理由を教えてください。
    .body_q3
      あなたが一番輝いていたと思うメンバーとその理由を教えてください。
    .body_q4
      ベストドレッサー賞をあげたいメンバーとその理由を教えてください。
    .body_q5
      その他、ご意見ご感想、メンバーへのメッセージ等がありましたらお書きください。


