.main
  .body
    .body_top
      アンケート
    .body_top1
      本日はお越しくださいましてありがとうございました
      %br
      もしよろしければ、アンケートにご協力よろしくお願いいたします。
      %by
      皆様からの意見を取り入れて、今後の活動の参考にさせていただきます。

.row
  %form.col.s12
    .row
      .input-field.col.s12
        %textarea#textarea1.materialize-textarea
        %label{for: "textarea1"} 今日のライブをどのようにお知りになりましたか？

.row
  %form.col.s12
    .row
      .input-field.col.s12
        %textarea#textarea1.materialize-textarea
        %label{for: "textarea1"} あなたにとって一番印象に残った曲とその理由を教えてください。
.row
  %form.col.s12
    .row
      .input-field.col.s12
        %textarea#textarea1.materialize-textarea
        %label{for: "textarea1"} あなたが一番輝いていたと思うメンバーとその理由を教えてください。
.row
  %form.col.s12
    .row
      .input-field.col.s12
        %textarea#textarea1.materialize-textarea
        %label{for: "textarea1"} ベストドレッサー賞をあげたいメンバーとその理由を教えてください。

.row
  %form.col.s12
    .row
      .input-field.col.s12
        %textarea#textarea1.materialize-textarea
        %label{for: "textarea1"} その他、ご意見ご感想、メンバーへのメッセージ等がありましたらお書きください。


