.top
  アンケート
.top1
  もしよろしければ、アンケートにご協力よろしくお願いいたします。
  %by
  皆様からの意見を取り入れて、今後の活動の参考にさせていただきます。
  .row
    %form.col.s12
      .row
        .input-field.col.s12
          %textarea#textarea1.materialize-textarea
          %label{for: "textarea1"} 今日のライブをどのようにお知りになりましたか？
  .row
    %form.col.s12
      .row
        .input-field.col.s12
          %textarea#textarea1.materialize-textarea
          %label{for: "textarea1"} あなたにとって一番印象に残った曲とその理由を教えてください。
  .row
    %form.col.s12
      .row
        .input-field.col.s12
          %textarea#textarea1.materialize-textarea
          %label{for: "textarea1"} あなたが一番輝いていたと思うメンバーとその理由を教えてください。
  .row
    %form.col.s12
      .row
        .input-field.col.s12
          %textarea#textarea1.materialize-textarea
          %label{for: "textarea1"} ベストドレッサー賞をあげたいメンバーとその理由を教えてください。

  .row
    %form.col.s12
      .row
        .input-field.col.s12
          %textarea#textarea1.materialize-textarea
          %label{for: "textarea1"} その他、ご意見ご感想、メンバーへのメッセージ等がありましたらお書きください。

    %form{action: "#"}
      %p
        %input#test1.with-gap{name: "group1", type: "radio"}
        %label{for: "test1"} Red
      %p
        %input#test2.with-gap{name: "group1", type: "radio"}
        %label{for: "test2"} Yellow
      %p
        %input#test3.with-gap{name: "group1", type: "radio"}
        %label{for: "test3"} Green
      %p
        %input#test4.with-gap{name: "group1", type: "radio"}
        %label{:for => "test4"} Brown
.input-field.col.s12
  %select
    %option{disabled: "disabled", selected: "selected", value:"1, 2, 3"} Choose your option
    %option{value: "1"} Option 1
    %option{value: "2"} Option 2
    %option{value: "3"} Option 3
  %label Materialize Select

.row
  %form.col.s12
    .row
      .input-field.col.s6
        %input#first_name.validate{:placeholder => "Placeholder", :type => "text"}/
        %label{:for => "first_name"} First Name
      .input-field.col.s6
        %input#last_name.validate{:type => "text"}/
        %label{:for => "last_name"} Last Name
    .row
      .input-field.col.s12
        %input#disabled.validate{:disabled => "disabled", :type => "text", :value => "I am not editable"}/
        %label{:for => "disabled"} Disabled
    .row
      .input-field.col.s12
        %input#password.validate{:type => "password"}/
        %label{:for => "password"} Password
    .row
      .input-field.col.s12
        %input#email.validate{:type => "email"}/
        %label{:for => "email"} Email
    .row
      .col.s12
        This is an inline input field:
        .input-field.inline
          %input#email.validate{:type => "email"}/
          %label{"data-error" => "wrong", "data-success" => "right", :for => "email"} Email




